<div class="row">
  <div class="col-sm-12">
    <div class="form-group">
      <%= form.label :name, 'Grouping Name' %>
      <%= form.text_field :name, class: 'form-control' %>
      <%= form.label :parent_grouping_id, 'Parent Grouping' %>
      <%= form.grouping_select :parent_grouping_id, class: 'form-control'%>
    </div>
  </div>
</div>
