<%= form_for @grouping, builder: GroupingFormBuilder, url: groupings_path, method: 'post' do |f| %>
  <%= render 'grouping_form', form: f %>
  <div class="row">
    <div class="col-sm-12">
      <%= f.submit 'Create Grouping', class: 'btn btn-success' %>
    </div>
  </div>
<% end %>
