/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";

div.jumbotron {
  padding: 0.5rem 2rem 0.5rem;
  margin-bottom: 0.5rem;
}

.jumbotron a:hover{
  text-decoration: none;
}

.desk-card{
  margin: 5px;
}

.desk-card-col{
  max-width: 20em;
  min-width: 20em;
}

.desk-row{
  padding-left: 5em;
  padding-right: 5em
}